{% extends "karionCourseBundle::layout.html.twig" %}
{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}


{% block content %}
  <h2>Edycja kursu</h2>

  {% if error is defined %}
  {% if error %}
    <div class="alert alert-error">{{ error }}</div>
  {% endif %}
  {% endif %}

    {% include 
        "karionCourseBundle:Admin:_courseForm.html.twig" 
        with {'route': 'karionCourseBundleAdmin_edit' }
    %}

    <div class="form-actions">
      <button class="btn btn-primary" type="submit">
        Zapisz
      </button>
    </div>
  </form>
{% endblock %}

{% block javascripts %}
  {{ tinymce_init() }}
{% endblock %}
